@for $i from 1 through 3 {              // Give all block blocks default css
    $initial-offset: 27%;
    .bk-#{$i} {
        margin: $block-offset;
        left: $initial-offset + ($i - 1) * $block-width + ($i - 1) * 3.5%;
    }
    @if $i == 3 {                       // Last block block has no right margins
        .bk-#{$i} {
            margin-right: 0px;
        }
    }
}

@each $font in $fonts {                 // Sets font familys for all available font files
    @font-face {
        font-family: #{$font};
        @if $font == Telegrama {        // Telegrama uses otf format
            $ext : '.otf';
        }
        @else {
            $ext : '.ttf';
        }
        src: url('../font/' + $font + $ext);
    }
}
