body {
    color: $bg-font-color;
    font-family: $headline-font;
    text-align: center;
}

%widget {
    position: absolute;
    top: $widget-offset;
}

.set {
    @extend %widget;
    left: $widget-offset;
    font-family: $link-font;
}

.clock {
    @extend %widget;
    right: $widget-offset;
    font-family: $clock-font;
    font-size: $clock-font-size;
    letter-spacing: 0.3em;
}

.ampm {
    font-size: $ampm-font-size;
    letter-spacing: 0.3em;
    margin-left: $ampm-offset;
}

.date {
    font-size: $date-font-size;
    font-weight: $date-font-weight;
}

.title {
    margin-top: $headline-margin;
    font-size: $headline-font-size;
    letter-spacing: $headline-font-spacing;
}

.block {
    color: $block-font-color;
}

.links {
    font-family: $link-font;
    font-size: $link-font-size;
}

.hg {
    font-size: $block-font-size;
}
